html,
body{
  height: 100%;
}

body{
  min-height: 100vh;
  color: #243f4d;
  font-size: 16px;
  line-height: normal;
  @extend %rubik-400;
  display:flex;
  flex-direction:column;
}
.main{
  flex-grow: 1;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs{
    height: 120px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    
  &__list{
  display:flex;
  justify-content: center;

  }
  .top-tilte{
    font-size: 36px;
    font-family: "Myriad Pro";
    color: rgb(34, 41, 51);
    line-height: 0.667;
    text-align: center;
   }
  &__item{
    &::after{
      content: ' /';
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
    &:last-child{
      &::after{
        content: '';
        margin-right: 0;
      }
    }
  }
  &__link{
    font-size: 14px;
    font-family: "Rubik";
    color: rgba(34, 41, 51, 0.6);
    text-decoration: none;
    line-height: 1.714;
  }
}

.pagination{
  display: flex;
  justify-content:center;
  height: 50px;
  &__list{
    display:flex;
  }
  &__item
  {
    width: 50px;
    margin-right: 15px;
    position:relative;
  }
  &__link,
  &__next,
  &__previous{
    border: 1px solid rgb(163, 187, 200);
    background-color: rgb(255, 255, 255);
 
  }
  &__next,
  &__previous{
    width: 72px;
    text-decoration: none; 
    position:relative; 
  }
  &__link,
  &__next-link,
  &__previous-link{
    position:absolute;
    text-decoration: none;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link--active
  {
    background-color: rgb(163, 187, 200);
    border: none;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
  }

  &__previous{
    display: none;
    margin-right: 15px;
  }
  &__next{
    display: block;      
  }
}

.star{
  transform: translateX(-6px);
}
// a{
//   color: #243f4d;
//   font-size: 14px;
//   line-height: normal;
//   @extend %rubik-400;
// }

// 436372 headermenucolor
// edf1f4 headermagnfon
// a3bbc8 optionfon
// fcd7b6 headerusermenufon page1fon 
// feefe2 page2lampfon
// fef7f0 page1bottfon, pagelastfon
// f9f9f9 page2fon(gallery1fon)
// f8f8f8 gallery2fon