@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 49px 0 45px;
  &__container{
    max-width: 1770px;
    padding: 0;    
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}

.menu{
  &__list{
    display:flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    font-family: Rubik;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none; 
    color: $subtitle;
    transition: all .3s;
    &:hover{
      background-color:$accent-bg;
    }
  }
  &__list-link--active{
    background-color:$accent-bg;
  }
}

.user-nav{
  display:flex;
  justify-content: space-between; 
  align-items: center;
  width:320px; 
}

.user-store{
  display:flex;
  justify-content: center;
  background-color: #fcd7b6;
  min-height: 51px;
  width: 178px;
  border-radius: 25px 25px;
  &__line-inner{
     width: 51px;
     display: flex;
     justify-content: center;
     align-items: center;     
  }

}
.user-nav__store{
  display: flex;
  align-items: center;
  text-decoration: none;
  & span{ 
    transform: translate(-50%, -50%);
    min-height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff;
    // text-align: center;
    font-size: 10px;  font-family: "DM Sans";
    line-height: 1.2;
    display:flex;
    flex-direction: column;
    justify-content: center;

 
  text-align: center;

  }
}
.settings__inner{
  min-height: 51px;
  width: 51px;
  border-radius: 50%;
  background-color: #a3bbc8;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer{
    color: #7b7b7b;  
  & a{
    text-decoration: none;
    color: #7b7b7b;
  }
}

.footer-top{
  padding: 75px 0 70px;
  min-height: 218px;
  display:flex;
  font-family: Rubik;
  font-size: 14px;
  line-height: normal;
  &__list-item{
    padding-bottom: 14px;
  }
  &__item{
    width:200px;
    margin-right: 100px;
  }
  &__newsletter{
    margin-right: 0px;    
  }
  &__title{
    padding-top: 21px;
    padding-bottom: 30px;
  }
  & img{
    padding-bottom: 30px;
  }
  & h6{
    text-transform: uppercase;
    font-family:DMSans;
    font-size: 16px;
    line-height: normal;
    text-align: left;
  }
  &__form{
    display: flex;
    padding-top: 30px;
   }
  &__form-input{
    background-color: #fef7f0;
    text-align: center;
    border: 0;
    outline: none;
    line-height: 30px;
    padding:1px 3px;
        
  }
  &__form-btn{
    background-color: #a3bbc8;
    color: #fff;
    text-align: left;
    border: 0;
    outline: none;
    line-height: 30px;
    width: 70px;
    padding:1px 3px;
    border: none;
    cursor: pointer;
  }

}


.footer-bottom{
  min-height: 90px;
  width: auto;
  border-top:1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__copy{
    margin:25px 0;
    height: 20px;
    text-align:center;
  }
  &__items{
    width: 300px;
    display:flex;
    justify-content: flex-end;
  }
  &__item{
    margin:25px 0;
    height: 20px;
    padding-right: 15px;
    text-align:center;
  }
  &__item+.footer-bottom__item{
    padding-left:15px;
    border-left: 1px solid #7b7b7b;
  }
  &__item:last-child{
    padding-right:0; 
  }
}

.top-slider{
  &__container{
    padding: 100px 15px 0 0;
    max-width: 1770px;
    background-color: $bg;   
  }

  &__item{  
    display:flex !important;
  }
  &__content{
    padding: 125px 164px 0 300px;
  }  
  &__title{
    max-width:470px;
    margin-bottom: 40px; 
    @extend %rubik-500;
    font-weight: 700;
    font-size: 72px;
    line-height:70px;
    color:$sltitle;
  }
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__link{
    max-width: 200px;
    height: 60px;
    padding: 19px 17px 19px 28px;
    background-color: $accent-bg;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    display:flex;   
    align-items:center;   
  }
  &__link-img{
    margin-left: 50px;
  }
  &__img{
    max-height: 260px;
    transform: translateX(-116px);
    z-index: 3;
  }
  &__wrapper-img{
    width: 634px;
    height: 634px;
    margin: 0 170px 0 auto;  
    background-image: linear-gradient( 90deg, $bg 0%, #fff 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .slick-dots{
    display: flex;     
    justify-content:center;
    padding: 10px 0 42px;
    li{
      padding: 0 5px; 
      button{
        padding:0;
        height: 30px;
        width: 30px;
        border:none;
        border-radius: 50%;
        background-color: #fde3cc;
        font-size: 10px;
        outline: none;         
      }
      button:focus,
      button:active{
        outline: none;
      }

      &.slick-active{      
        button{
          background-color: #fff;
        }         
      }
    }
  }
}
.top-slider__bottom{
  background-color: #fef7f0;
  min-height:170px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.info{
  display:flex;
  justify-content: space-around;
  min-height: 175px;
  background-color: #fef7f0;
  &__container{
    padding: 0;
    max-width: 1770px;
    background-color: $bg; 

  }
  &__item{
    display:flex;
    justify-content: center;
    width:300px;
    min-height:80px;
    align-items: center;
  }
  &__item-text{
    padding-left:30px;
  }  
}

.category-title,
.week__title,
.related__title{
  font-size: 36px;
  font-family: "DM Sans";
  color:#191919;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin:70px auto 30px;
}
.category-filter,
.week-filter{
  display:flex;
  justify-content: center;
  padding-bottom: 80px;
  
  &__btn{
    background-color: transparent;
    border:none;
    font-size: 16px;
    font-family: "DM Sans";
    color: #8b8b8b;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0 15px;
    outline: none;    
  }
 
  &__btn:hover,
  &__btn:active
  {
  color: #191919;
  }
}
.mixitup-control-active{
    color: #191919;
}
.week{
  &__content{
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap:30px;
    grid-row-gap: 40px;    
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center 21%;
    width: 270px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color:#243f4d;
    cursor: pointer;
    border: white;
    }
  .name{
    font-size: 16px;
    font-family: "DM Sans";
    line-height: 1.2;
    text-align: center; 
    color:#243f4d;
    padding-bottom: 10px;
  }
  .price{
    text-align: center;
    color: #a3bbc8;
    padding-bottom:35px;
  }
}

.week__content-select{ 
   display:flex;
   justify-content: center;
   padding-bottom: 70px;
   z-index: -1;
}
.week__item-link{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.week__item:hover .week__content-select{
z-index: 1;
}
.week__item-link:hover { 
  background-color: #a3bbc8;
}
.week__item-link:hover path{ 
  fill: white;
}
.week__item-link--hover{
  background-color: #a3bbc8;
}
.week__item-link--hover path{
  fill: white;
}

.video-design__inner{
  min-height: 510px;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.category{
  &__content{
    display: grid;
    min-height: 526px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 35px;
   }
  &-item{
    &__img-box{
      width: 370px;
      height: 246px;
      background-color: #f8f8f8;
      position: relative;      
    }
    &__text{
      position: absolute;
      top:40px;
      left:35px;
      font-size: 20px;
      font-family: "DM Sans";
      color: rgb(26, 26, 26);
      font-weight: bold;
      line-height: 1.2;
      text-align: left;
    }
    &__classic{
      padding-top: 16px;
      font-size: 16px;
      color: #bacbd5;
    }
  } 
}
.feature2{
  padding: 50px 65px;
  display:flex;
  justify-content: space-between;
  &-item__inner{
    min-width: 870px;
    height: 575px;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &-item__inner:first-child{
    background-image: url('../images/feature2-1.jpg');
  }
  &-item__inner:last-child{
    background-image: url('../images/feature2-2.jpg');
  }
  &-item:first-child{
    padding-right: 45px;
  }
  &-item{
    height: 390px;
    width: 440px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin-left: auto;  
  }
  h4{
      font-size: 26px;
  font-family: "DM Sans";
  font-weight: bold;
  }
  span{
      font-size: 16px;
  font-family: "Rubik";
   line-height: 1.875;
   margin-bottom: 25px;
  }
  button{
    font-size: 15px;
    font-family: "Rubik";
    border-style: solid;
    border-width: 1px;
    border-color: rgb(67, 99, 114);
    border-radius: 5px;
    background-color: inherit;
    opacity: 0.4;
    width: 184px;
    height: 64px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}
.articles{
  &-title__inner{
    margin: 70px auto 30px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &-title{
    margin:0;
  }
  &-link{
      font-size: 16px;
  font-family: "DM Sans";
  color: rgb(38, 38, 38);
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;

  }
  &-top{
    display:flex;
    justify-content: space-between;
    img{
      width: 370;
    }    
  }
  &-bottom{
    background-color: #fef7f0;
    background-size: cover;

  }
  &__items{
    display:flex;
    justify-content: space-between;  
  }
  &-item{
    height: 170px;
    width: 370;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    span{
      background-color: rgb(163, 187, 200);
      margin-left: 30px;
      width: 103px;
      height: 30px;
      color:white;
      font-size: 14px;
      font-family: "Poppins";
      font-weight: bold;
      border-radius:15px 15px;
      text-align:center;
      transform:translateY(-15px);
     }
    &__text{
      width: 310px;
      padding: 0 30px 30px;
    }
  }
  &-author{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 370px;
    padding: 30px;
 
    p{  
      border-top: 1px solid #262626;
     padding-top: 25px;
     padding-bottom: 35px;
      font-size: 12px;
      font-family: "Myriad Pro";
      width: 370px;
       
    }

  }
}

.clients-logo{
  margin-bottom: auto;
  height: 250px;
  background-color: #fef7f0;
  .clients {   
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 270px;
 }
}


.top{
  height: 130px;
  background-color: #edf1f4;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-title{
    font-size: 36px;
    font-family: "Rubik";
      color: rgb(34, 41, 51);

  }

}




.modal{
  padding-top: 120px;
  max-width: 470px;
  width: 100%;
  margin: 0 auto 120px;
  position: relative;
  color:#436372;
 

  &__label{
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 56px;
    margin: 15px 0 30px;    
  }
  &__btn{
    display: block;
    width:100%;
    background-color: rgb(163, 187, 200);height: 60px;
    border:none;
    margin: 35px 0;
  }
  &__error{
    position: absolute;
    right: 0;
    text-decoration: none;
  }
  &__link-btn {
    width:100%;
    border: 2px solid #a3bbc8;
    height: 56px;
    background-color: #fff; 
    cursor: pointer;   
  }
  &__text{
    text-align: center;
    margin-bottom: 25px;
  }
  &__line{
    background-color: rgb(246, 246, 246);
    margin:30px 0;
    width: 100%;
    height: 2px;
  }
}
.terms{
  padding: 65px 0 40px;

  &__title{
    margin-top: 50px;
    font-size: 24px;
    font-family: "Rubik";
    color: rgb(36, 63, 77);
    line-height: 1.667;
  }
  &__items{
    list-style-type: decimal-leading-zero;
  }
  &__item,
  p
  {
    margin-left: 35px;
    font-size: 16px;
    font-family: "Rubik";
    color: rgb(36, 63, 77);
    line-height: 1.875;
  }
  p{
    margin-left: 0;
  }
}

.productlist1,
.product2
{
  padding:120px 0;
  &__inner{
    display:flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}

.filter{
  &__item{
      display:flex;
      flex-direction: column;
      margin-bottom: 65px;
  }
  &__title-inner{
    display:flex;
    align-items: center;
    margin-bottom: 30px;

  }
  &__title{
    font-size: 18px;
    font-family: "DM Sans";
    color: rgb(36, 63, 77);
    font-weight: bold;
    line-height: 1.2;
    margin-right: 10px;
  }
  &__decor{
    background-color:rgb(163, 187, 200);
    width: 39px;
    height: 3px;
  }
  &-price__label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }
  &-price__from,
  &-price__to,
  &-price__from::before,
  &-price__to::before,
  &-price__from::after,
  &-price__from::after{
    font-size: 14px;
    font-family: "Rubik";
    color: rgb(36, 63, 77);
  }

  &-price__from::before,
  &-price__to::before{
    content: '$';
  }
  &-price__from::after,
  &-price__to::after{
    content: '.00';
  }
}

.irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color:rgb(163, 187, 200);
}
.irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: rgb(163, 187, 200);
    opacity: 0.659;
}
.irs--flat .irs-handle {
    top: 0px;
    width: 15px;
    height: 15px;
    background-color: rgb(163, 187, 200);
  }
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}
.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: rgb(163, 187, 200);
}
.irs--flat .irs-min, .irs--flat .irs-max {
    top: 1;
    padding: 0px;
    margin:40px 2px 0 0;

    text-shadow: none;
    background-color:#fff;
    border-radius: 4px;
      font-size: 14px;
  font-family: "Rubik";
  color: rgb(36, 63, 77);
  line-height: 3.071;
  display:none;
}

.filter-brand,
.filter-category
{
  &__label{
    display:block;
    margin-bottom: 3px;
    cursor:pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
    }
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    display:flex;
    justify-content: space-between;
    padding:14px 14px 14px 14px;
  }
  &__text:last-child{
    width: 46px;
    text-align:center;
    padding:0 10px; 
  }
}




.productlist1-recent{
  &__item{
    display:flex;
    margin-bottom: 20px;
  }

  &__img{
    width: 71px;
    height: 71px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 18px;
  }
  &__info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    font-family: "Rubik";
    color: rgb(51, 51, 51);
   }
}
.productlist1__content{
  max-width:870px ;
  .tovar__content{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  .week__item{
    margin-bottom: 40px;
  }
}

.product2{
  &__inner{
    display:flex;
    .product2__items{
    width:870px;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    }
  }
}

.product2-item{
  height: 500px;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 40px;
  &__img{
    width: 370px;
  }
  &__info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 470px;
    padding:0 30px;
   }
  &__title{
    font-size: 40px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
  }
  &__price{
    font-size: 30px;
    margin-bottom: 35px;
  }
  &__link{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
  }
 
  &__text{
    margin-bottom: 35px;
  }
  &__noselect{
     display:flex;
    .product2-item__link:hover { 
      background-color: #a3bbc8;
    }
    .product2-item__link:hover path{ 
      fill: white;
    }
    .product2-item__link--hover{
      background-color: #a3bbc8;
    }
    .product2-item__link--hover path{
      fill: white;
    }
  }
  &__select{
    display:none;
  }
  &__text{
    font-size: 16px;
    color: rgb(36, 63, 77);
    line-height: 1.875;
  }

  &__add{
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
  &--active .product2-item__select{
    border-radius: 5px;
    background-color: rgb(163, 187, 200);
    width: 208px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  &--active .product2-item__noselect{
    display:none;
  }

  .star{
    margin-bottom: 40px;
  }
}

.aboutus{
  &__items{
    display:flex;
    justify-content: space-between;
    margin: 120px 0;
    min-height: 670px;
  }
  &__item{
    max-width: 570px;
    width:100%;
    display:flex;
    flex-direction: column;
  }
  &__info{
    display:flex;
    align-items: flex-end;
    min-height: 140px;
    margin-bottom: 50px;
    margin-top: auto;
  }
  &__12{
    display:flex;
    // align-items: flex-end;
    line-height: 0.8;
    font-size: 140px;
    font-family: "Myriad Pro";
    color: rgb(163, 187, 200);
   }
   .aboutus__title{
         margin-bottom: 50px;
    }

  &__12rigth{
    margin-top: auto;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Rubik";
    color: rgb(36, 63, 77);
    line-height: 1.875;
   }
  &__line12{
    background-color: rgb(9, 49, 111);
    opacity: 0.102;
    width: 500px;
    height: 3px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__bottom{
    display:flex;
    align-items: space-between;
    margin-bottom: 80px;
  }
  &__bottom-item{
    display:flex;
    align-items: center;
    max-width: 530px;
    width: 100%;
    min-height: 81px;
  }
  &__bottom-line{
    background-color: rgb(9, 49, 111);
    opacity: 0.102;
    width: 1px;
    margin-right: 30px;
  } 
  &__bottom-text{
    margin-left: 15px;
  }
}
.widgets{
  background-color: #fcd7b6;
  min-height: 320px;
  &__items{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item{
    height: 320px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item img,
  &__item p,
  &__item span 
  {
    padding: 10px;
  }
  &__item-img
  {
    height: 64px;
  }
 
  &__item p
  {
  font-size: 36px;
  font-family: "DM Sans";
  color: rgb(36, 63, 77);
  font-weight: bold;
  line-height: 0.889;
  }
  &__item span 
  {
  font-size: 18px;
  font-family: "DM Sans";
  color: rgb(36, 63, 77);
  font-weight: bold;
  line-height: 1.778;
  }
}

.ourteam{
  margin:120px 0;
  &__wrapper{
  display:flex;
  justify-content: space-between;
  min-height: 800px;
 
  }
  &__info{
    width: 300px;
    h3{
      font-size: 36px;
      font-family: "Myriad Pro";
      color: rgb(36, 63, 77);
      line-height: 1.2;
      margin-bottom: 40px;
    }
    p{
      font-size: 16px;
      font-family: "Rubik";
      color: rgb(36, 63, 77);
      margin-bottom: 40px;
    }
    a{
      background-color: #a3bbc8;
      color:#fff;
      width: 170px;
      height: 50px;
      border-radius: 5px;
      font-size: 15px;
      font-family: "Myriad Pro";
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
    }
  }

  &__items{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 100px;
  }
  &__item{
    height: 320px;
    width: 370px;
    display:flex;
    align-items: flex-end;
    background-color: red;
    background-position: 0 0;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    background-repeat: no-repeat;
  }
  &__contact{
    height: 110px;
    width: 325px;
    background-color:#fff;
    transform: translateY(60px);
    padding:0 24px;
    display:flex;
    align-items: center;
  }
  &__text{
    width:190px;
    h5{
      font-size: 22px;
      font-family: "DM Sans";
      color: rgb(67, 99, 114);
      font-weight: bold;
      line-height: 1.182;

    }
    span{
      font-size: 16px;
      font-family: "Rubik";
      color: rgb(86, 88, 114);
    }
  }
  &__medias{
    display:flex;
    justify-content: space-between;
    width:100px;
  }
  &__media{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin:4px;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.product-detalis{
  padding:120px 0;
}

.product-one{
  &__inner{
    display:flex;
    justify-content: space-between;
  }
  &__slide{
    width: 550px;
    height:530px
  }
  &__content{
    width:550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    font-size: 40px;
    color: rgb(51, 51, 51);
    margin-bottom: 18px;
  }
  &__star{
    margin-bottom: 40px;
  }
  &__price{
    font-size: 30px;
    color: rgb(51, 51, 51);
    margin-bottom: 40px;
  }

  &__text{
    font-size: 16px;
    color: rgb(36, 63, 77);
    margin-bottom: 35px;
  }
  &__btn{
    margin-left: 15px;
    margin-bottom: 58px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(163, 187, 200);
    cursor: pointer;
    border:none;
    height: 53px;
    width: 210px;
  }
   
}


.jq-number {
  padding: 0;
  position: relative;
  &__field {
    height: 100%;
    width: 148px;
    border-bottom-color:transparent;
    border: 1px solid #a3bbc8;
    border-radius: 0px;
    box-shadow: none;
    input {
      width: 100%;
      height: 51px;
      border: none;
      outline: none;
      background: none;
      font: 14px Arial, sans-serif;
      color: #5c5c5c;
      font-size: 15px;
      text-align: center;
    }
  }
  &__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0px;
    width: 48px;
    height: 100%;
    border-bottom-color: transparent;
    border-left: 1px solid #a3bbc8;
    background:transparent;
    box-shadow:none;
    text-shadow: none;
    cursor: pointer;
    &:after {
      content: '+';
      font-size: 20px;
      font-weight: normal;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
    }
    &.minus{
      right: auto;
      left: 0px;
      border-left: none;  
      border-right: 1px solid #a3bbc8;
      &:after {
        content: '-';
        left: 20px;
        right: auto; 
      }
    }
  }
}


.product-info{
  &__item{
    display:flex;
    font-size: 16px;
    color: rgb(36, 63, 77);
    line-height: 1.875;
  }
  &__link-a{
    text-decoration: none;
    color: #243f4d;
    }
}



.product-tabs{
  padding-top: 100px;
  &__top{
    margin-bottom: 40px;
    height: 53px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  &__top-item{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(163, 187, 200, 0.2);
    font-family: "Rubik";
    font-weight: normal;
    width: 241px;
    height: 100%;
    font-size: 18px;
    color: #243f4d;
    line-height: 2.222;
    text-decoration: none;
    & + .product-tabs__top-item{
      margin-left: 15px;
    }
    &--active{
      background-color: rgb(163, 187, 200);
      color:#fff;
    }
  }

  &__content-item{
    display:none;
    &.product-tabs__content-item--active{
      display:block;
    }
  }
 }

.product-slide{
  display: flex;
  &__thumb{
    width: 140px;
    height: 530px;
    margin-right:25px ;
  }
  &__thumb-item{
    height: 160px;
    width: 140px;
    margin-bottom: 18px;
    cursor: pointer;
    img{
      height: 160px;
      width: 140px;
      object-fit: ntac;
    }
  }
  &__big{
    width: 390px;
    object-fit: cover;
    img{
      height: 530px;
      width: 390px;
    }
  }
}
.related{
  &__title{
  text-align: left;
  margin-bottom: 60px;
  }
  &__content{
    column-count: 4;
    column-gap: normal;
    width: 100%;
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center 21%;
    width: 270px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color:#243f4d;
    cursor: pointer;
    border: white;
  }
  .name{
    font-size: 16px;
    font-family: "DM Sans";
    line-height: 1.2;
    text-align: center; 
    color:#243f4d;
    padding-bottom: 10px;
  }
  .price{
    text-align: center;
    color: #a3bbc8;
    padding-bottom:35px;
  }
  &__content-select{ 
   display:flex;
   justify-content: center;
   padding-bottom: 70px;
   z-index: -1;
  }
  &__item-link{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  &__item:hover .related__content-select{
  z-index: 1;
  }
  &__item-link--hover,
  .related__item-link:hover { 
  background-color: #a3bbc8;
    path{ 
      fill: white;
    }
  }
}

.related__slider{
  height: 380px;
  overflow: hidden;
  margin-bottom: 110px;
  ul {
	margin: 0;
	padding: 0;
  }
  ul li img {
    width: 100%;
    height: auto;
  }
}

.slider-title {
	position: relative;
}
.slider-title-control {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
// .slider-title-control a:hover {
// 	filter: brightness(90%);
// }
.slider-title-prev {
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-color: #edf1f4;
  border-style: solid;
  border-radius: 5px;
  position: relative;
}
.slider-title-prev a{
  position:absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../images/productd/prev.svg') no-repeat ;
  background-position: center center;
}
.slider-title-next {
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-color: #a3bbc8;
  border-style: solid;
  border-radius: 5px;
  position:relative;

}
.slider-title-next a {
  position:absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../images/productd/next.svg') no-repeat ;
  background-position: center center;
}

.blog{
  margin: 120px 0;

  &__inner{
  display:flex;
  justify-content: space-between;
  }
  &__content{
    max-width: 830px;
  }
  &__aside{
    max-width: 270px;
  }
}

.blog-item{
  width:inherit;
  font-size: 12px;

  &__img{
    height: 500px;
    width: 830px;
    object-fit: cover;  
  }
  &__title{
    width:100%;
  }
  &__box{
    height:70px;
    display:flex;
    justify-content: space-between;
    transform: translateY(-100%);
    margin-bottom: -30px;
  }
  &__text{
    width: inherit;
  }
  &__props{
    display:flex;
    justify-content: flex-start;
    background-color: #a3bbc8;
    color:white;
  }
  &__data{
    display:flex;
    align-items: center;
    width: 150px;
    margin-left: 23px;
  }
  &__author{
    display:flex;
    align-items: center;
    min-width: 100px;
    font-size: 12px;
    text-decoration: none;
    color:inherit;
  }
  &__title{
    font-size: 36px;
    font-family: "Rubik";
    color:#333333;
    font-weight: bold;
    text-decoration: none;
  } 
  &__text{
    margin: 40px 0;
    font-size: 16px;
    font-family: "Rubik";
    color: #243f4d;
    line-height: 1.875;
  }
  &__more{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #a3bbc8;
    width: 180px;
    height: 60px;
    color: #a3bbc8;
    margin-bottom: 50px;
  }
}


@import 'media'; 
