@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 49px 0 45px;
  &__container{
    max-width: 1770px;
    padding: 0;    
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
}

.menu{
  &__list{
    display:flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    font-family: Rubik;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; 
    color: $subtitle;
    transition: all .3s;
    &:hover{
      background-color:$accent-bg;
    }
  }
  &__list-link--active{
    background-color:$accent-bg;
  }
}

.user-nav{
  display:flex;
  justify-content: space-between; 
  align-items: center;
  width:320px; 
}

.user-store{
  display:flex;
  justify-content: center;
  background-color: #fcd7b6;
  min-height: 51px;
  width: 178px;
  border-radius: 25px 25px;
  &__line-inner{
     width: 51px;
     display: flex;
     justify-content: center;
     align-items: center;     
  }

}
.user-nav__store{
  display: flex;
  align-items: center;
  text-decoration: none;
  & span{ 
    transform: translate(-50%, -50%);
    min-height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff;
    // text-align: center;
    font-size: 10px;  font-family: "DM Sans";
    line-height: 1.2;
    display:flex;
    flex-direction: column;
    justify-content: center;

 
  text-align: center;

  }
}
.settings__inner{
  min-height: 51px;
  width: 51px;
  border-radius: 50%;
  background-color: #a3bbc8;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer{
    color: #7b7b7b;  
  & a{
    text-decoration: none;
    color: #7b7b7b;
  }
}

.footer-top{
  padding: 75px 0 70px;
  min-height: 218px;
  display:flex;
  font-family: Rubik;
  font-size: 14px;
  line-height: normal;
  &__list-item{
    padding-bottom: 14px;
  }
  &__item{
    width:200px;
    margin-right: 100px;
  }
  &__newsletter{
    margin-right: 0px;    
  }
  &__title{
    padding-top: 21px;
    padding-bottom: 30px;
  }
  & img{
    padding-bottom: 30px;
  }
  & h6{
    text-transform: uppercase;
    font-family:DMSans;
    font-size: 16px;
    line-height: normal;
    text-align: left;
  }
  &__form{
    display: flex;
    padding-top: 30px;
   }
  &__form-input{
    background-color: #fef7f0;
    text-align: center;
    border: 0;
    outline: none;
    line-height: 30px;
    padding:1px 3px;
        
  }
  &__form-btn{
    background-color: #a3bbc8;
    color: #fff;
    text-align: left;
    border: 0;
    outline: none;
    line-height: 30px;
    width: 70px;
    padding:1px 3px;
    border: none;
    cursor: pointer;
  }

}


.footer-bottom{
  min-height: 90px;
  width: auto;
  border-top:1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__copy{
    margin:25px 0;
    height: 20px;
    text-align:center;
  }
  &__items{
    width: 300px;
    display:flex;
    justify-content: flex-end;
  }
  &__item{
    margin:25px 0;
    height: 20px;
    padding-right: 15px;
    text-align:center;
  }
  &__item+.footer-bottom__item{
    padding-left:15px;
    border-left: 1px solid #7b7b7b;
  }
  &__item:last-child{
    padding-right:0; 
  }
}

.top-slider{
  &__container{
    padding: 100px 15px 0 0;
    max-width: 1770px;
    background-color: $bg;   
  }

  &__item{  
    display:flex !important;
  }
  &__content{
    padding: 125px 164px 0 300px;
  }  
  &__title{
    max-width:470px;
    margin-bottom: 40px; 
    @extend %rubik-500;
    font-weight: 700;
    font-size: 72px;
    line-height:70px;
    color:$sltitle;
  }
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__link{
    max-width: 200px;
    height: 60px;
    padding: 19px 17px 19px 28px;
    background-color: $accent-bg;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    display:flex;   
    align-items:center;   
  }
  &__link-img{
    margin-left: 50px;
  }
  &__img{
    max-height: 260px;
    transform: translateX(-116px);
    z-index: 3;
  }
  &__wrapper-img{
    width: 634px;
    height: 634px;
    margin: 0 170px 0 auto;  
    background-image: linear-gradient( 90deg, $bg 0%, #fff 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  .slick-dots{
    display: flex;     
    justify-content:center;
    padding: 10px 0 42px;
    li{
      padding: 0 5px; 
      button{
        padding:0;
        height: 30px;
        width: 30px;
        border:none;
        border-radius: 50%;
        background-color: #fde3cc;
        font-size: 10px;
        outline: none;         
      }
      button:focus,
      button:active{
        outline: none;
      }

      &.slick-active{      
        button{
          background-color: #fff;
        }         
      }
    }
  }
}
.top-slider__bottom{
  background-color: #fef7f0;
  min-height:170px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.info{
  display:flex;
  justify-content: space-around;
  min-height: 175px;
  background-color: #fef7f0;
  &__container{
    padding: 0;
    max-width: 1770px;
    background-color: $bg; 

  }
  &__item{
    display:flex;
    justify-content: center;
    width:300px;
    min-height:80px;
    align-items: center;
  }
  &__item-text{
    padding-left:30px;
  }  
}

.week__title{
  font-size: 36px;
  font-family: "DM Sans";
  color:#191919;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin:70px auto 30px;

}
.week-filter{
  display:flex;
  justify-content: center;
  padding-bottom: 80px;
  
  &__btn{
    background-color: transparent;
    border:none;
  font-size: 16px;
  font-family: "DM Sans";
  color: #8b8b8b;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 0 15px;
  outline: none;    
  }
 
  &__btn:hover,
  &__btn:active
  {
  color: #191919;
  }
}
.mixitup-control-active{
    color: #191919;
}
.week{
  &__content{
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap:30px;
    grid-row-gap: 40px;    
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center center;
    width: 270px;
    height: 380px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color:#243f4d;
    cursor: pointer;
    border: white;
    }
  .name{
    font-size: 16px;
    font-family: "DM Sans";
    line-height: 1.2;
    text-align: center; 
    color:#243f4d;
    padding-bottom: 10px;
  }
  .price{
    text-align: center;
    color: #a3bbc8;
    padding-bottom:35px;
  }
}

.week__content-select{ 
   display:flex;
   justify-content: center;
   padding-bottom: 20px;
   z-index: -1;
}
.week__item-link{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week__item:hover .week__content-select{
z-index: 1;
}
.week__item-link:hover { 
  background-color: #a3bbc8;
}
.week__item-link:hover path{ 
  fill: white;
}
.week__item-link--hover{
  background-color: #a3bbc8;
}
.week__item-link--hover path{
  fill: white;
}


@import 'media'; 
